In [1]:
#python 自帶
import sqlite3

In [3]:
conn =sqlite3.connect('test.db')
create_sql = 'create table company(id int primary key not null,emp_name text not null)'
conn.execute(create_sql)
insert_sql ='insert into company values(?,?)'
conn.execute(insert_sql,(100,'LY'))
conn.execute(insert_sql,(200,'July'))
cursors = conn.execute('select id, emp_name from company')
for row in cursors:
    print(row[0],row[1])
conn.close()

100 LY
200 July

 ## MySQL

In [ ]:
#hose(ip/port)
#username
#password